[python: **.py]

[jinja2: **/templates/**.html]
# Eliminamos jinja2.ext.autoescape y jinja2.ext.with_
extensions = jinja2.ext.do, jinja2.ext.i18n

[jinja2: **/templates/**.txt]
extensions = jinja2.ext.do, jinja2.ext.i18n