# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# CKAN
**/ckan/
*.ini
!ckan.ini.example
!**/datapusher-uwsgi.iniexample
!datapusher-uwsgi.iniexample
# Ignorar todos los archivos de configuración local con contraseñas
**/*.ini
# 1. Permitir que Git explore las carpetas de migraciones de cualquier plugin
!**/migration/
!**/migration/**/

# 2. Asegurar que NUNCA se ignore el archivo alembic.ini en ninguna subcarpeta
!**/migration/**/alembic.ini

data/
storage/

# Logs y Temporales
*.log
.DS_Store


# Ignorar metadatos de bloqueo de archivos de Windows
*:Zone.Identifier

# Ignorar archivos de variables de entorno y credenciales
**/.env
**/.env.*

**/__pycache__/
*.pyc
*.pyo
*.pyd
*:Zone.Identifier
**/.env
**/*.ini
!alembic.ini
**/ckan/

# Archivos de configuración local de CKAN
ckan.ini
ckan-uwsgi.ini

**/ckan.ini
**/ckan-uwsgi.ini
**/datapusher-uwsgi.ini
**/ckan.ini
**/ckan-uwsgi.ini
**/datapusher-uwsgi.ini
**/roldanillo-ckan

**/header - copia.htm
