        {% block item %}      
            {% block item_inner %}
                <!-- Contenedor Flexbox: centra todo, alinea verticalmente y da espacio entre los bloques -->
                <div class="d-flex justify-content-center align-items-center gap-4 py-2">
                    {% block vista %} 
                    <!-- Bloque de Vistas -->
                        <div class="d-flex align-items-center">
                            <img class="img-fluid me-2" src="/base/images/visualizacion.png" alt="vistas" style="max-height: 20px;">
                            <span class="text-dark small fw-medium">{{contador.contVistas}} {{_('Views')}}</span>
                        </div>
                    {% endblock %}  
                    {% block download %}            
                        <!-- Bloque de Descargas -->
                        <div class="d-flex align-items-center">
                            <img class="img-fluid me-2" src="/base/images/descarga.png" alt="Descargas" style="max-height: 20px;">
                            <span class="text-dark small fw-medium">{{contador.contDownload}} {{_('Download')}}</span>
                        </div>
                {% endblock %}
            {% endblock %}      
        {% endblock %}                
                </div>               
        
    

 