{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {# Mueve aquí los estilos #}
  {% asset 'ckanext-ckanplugin/csvgeojson.css' %}
	{% if request.path == '/' or '/angular' in request.path %}
  {% endif %}
  {% asset 'ckanext-ckanplugin/ckanangular.css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {# Los scripts deben ir después del super() para que 'ckan.module' ya exista #}
  {% asset 'ckanext-ckanplugin/resource-rating.js' %}
  {% if request.path=='/ckan/dashboard' in request.path %}
	  {% asset 'ckanext-ckanplugin/ckanangular.js' %}
  {% endif %}
{% endblock %}
