{% extends "page.html" %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {# Aquí es donde Angular se inyecta #}
      <app-root>Cargando aplicación Angular...</app-root>
    </div>
  </article>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {# 1. Agregamos type="module" al script principal #}
  {# 2. Solo cargamos main.js (normalmente es suficiente en v17+) #}
  <script src="{{ h.url_for_static('/angular/browser/main.js') }}" type="module" defer></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ h.url_for_static('/angular/browser/styles.css') }}">
{% endblock %}
