{% ckan_extends %}

{% block package_metadata_fields_custom %}
    <div class="row">
        <div class="col">
         {{ form.input('update_frequency', label=_('Frecuency'), id='update_frequency', placeholder=_('Frecuency'), value=data.update_frequency, error=update_frequency, classes=['control-medium']) }}  
        </div>
        <div class="col">      
            {{ form.input('department', label=_('Department'), id='department', placeholder=_('Department'), value=data.department, error=department, classes=['control-medium']) }}                         
        </div>
        <div class="col">      
            {{ form.input('city', label=_('City'), id='city', placeholder=_('City'), value=data.city, error=city, classes=['control-medium']) }}        
        </div>
    </div>
{% endblock %}

