{% set tags = h.get_facet_items_dict('tags', search_facets | default({}), limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set dataset_type = h.default_package_type() %}
 
<div class="search-form" data-module="search-form">
  <form class="form_search search-form-form" method="get" action="{% url_for dataset_type ~ '.search' %}">
    <div class="input-group div_search_form">
      {# Se añade style inline temporal para asegurar que se muestre y tenga fondo blanco #}
      <input class="form-control input_search" id="field-main-search" type="text" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" style="display: block !important; visibility: visible !important; background-color: #ffffff !important; color: #000000 !important;" />
      
      <span class="input-group-btn">
        <button class="btn btn_search btn_color" type="submit" aria-labelledby="search-label" style="height: 100%;">
          <i class="fa fa-search btn_color_icon"></i>
          <span class="sr-only" id="search-label">{{ _('Search') }}</span>
        </button>
      </span>
    </div>
  </form>
</div>




