{% ckan_extends %}

{% block package_additional_info %}
 {{ super() }}
    <tr>
        <th scope="row" class="dataset-label">{{ _('Category') }}</th>

        <td class="dataset-details">
            {{ pkg_dict.category }}
        </td>
    </tr>  
    <tr>
        <th scope="row" class="dataset-label">{{ _('Frecuency') }}</th>

        <td class="dataset-details">
            {{ pkg_dict.update_frequency }}
        </td>
    </tr>   
    <tr>
        <th scope="row" class="dataset-label">{{ _('Department') }}</th>

        <td class="dataset-details">
            {{ pkg_dict.department }}
    </td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{ _('City') }}</th>

        <td class="dataset-details">
            {{ pkg_dict.city }}
        </td>
    </tr>


{% endblock %}