{% block group_item %}
  <section class="section_tematica">
    {% block group_item_header %}
      <header class="module-heading_tematica d-flex align-items-center justify-content-between">
        {% set title = group.title or group.name %}
        {% block group_item_header_image %}
        <div class="tematica-img">
          <a href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">
            <img class="img-tematica" src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}"/>
          </a>
        </div>  
        {% endblock %}
        {% block dataset_item_header_title %}
        <div class="tematica-text">
          <h3 class="h3-Tematica"><a href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">{{group.title }}</a></h3>
        </div>
        {% endblock %}        
      </header>
    {% endblock %}    
  </section>
{% endblock %}
