<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('¿What are the Seals of Excellence?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        The Digital Government Excellence Seals are a recognition from the Ministry of Information Technologies and Communications (MinTIC)
        for digital services and open datasets that meet high
        standards of quality, security, accessibility, and transparency. It certifies that
        the State's digital products respond to citizens' needs,
        comply with regulations, promote trust and participation, and guarantee
        continuous improvement. For open data, it ensures that it is useful, up-to-date,
        and reusable.
      {% endtrans %}
    </p>
  </div>
</div>